@{
    ViewBag.Title = "Index";
}

<div class="faq-area area ptb-80">
    <div class="container">

        <div class="col-md-6 col-xs-12 fadeInRight wow">
            <div class="faq-form form-style">

                <div class="row">
                    <div class="col-md-6 col-xs-12 fadeInRight wow">
                        <div class="faq-form form-style">
                            <div class="cf-msg"></div>


                            @using (Html.BeginForm("Create", "Registro")) { 

                                <form action="#" method="post">
                                    <p>
                                        <label for="name">Nombre:</label>
                                        <input type="text" name="name" id="name">
                                        <br />

                                        <label for="dni">DNI:</label>
                                        <input type="number" name="dni" id="dni">

                                        <br />

                                        <label for="ruc">RUC:</label>
                                        <input type="number" name="ruc" id="ruc">
                                        <br />

                                        <label for="telefono">Teléfono:</label>
                                        <input type="number" name="telefono" id="telefono">
                                        <br />

                                        <label for="direccion">Dirección:</label>
                                        <input type="text" name="direccion" id="direccion">
                                        <br />

                                        <label for="email">Email:</label>
                                        <input type="email" name="email" id="email">
                                        <br />

                                        <label for="email">Contraseña:</label>
                                        <input type="password" name="email" id="email">
                                        <br />

                                        <input type="submit" value="Registrarse" />
                                    </p>
                                    

                                    <!--
            form action = "Create" method = "post" >

            <label for="name">Nombre:</label>
            <input type="text" name="name" id="name">
            <br />

            <label for="dni">DNI:</label>
            <input type="number" name="dni" id="dni">
            <br />

            <label for="ruc">RUC:</label>
            <input type="number" name="ruc" id="ruc">
            <br />

            <label for="telefono">Teléfono:</label>
            <input type="number" name="telefono" id="telefono">
            <br />

            <label for="direccion">Dirección:</label>
            <input type="text" name="direccion" id="direccion">
            <br />

            <label for="email">Email:</label>
            <input type="email" name="email" id="email">
            <br />

            <label for="email">Contraseña:</label>
            <input type="password" name="email" id="email">
            <br />

            <input type="submit" value="Registrarse" />
            </form>
                -->
                                    <!--
            <div class="row">

                <div class="col-xs-12">
                    <span>Nombre</span>
                    @Html.TextBox("name")
                </div>
                <div class="col-xs-12">
                    <span>DNI</span>
                    @Html.TextBox("dni")
                </div>

                <div class="col-xs-12">
                    <span>Nombre</span>
                    @Html.TextBox("name")
                </div>
                <div class="col-xs-12">
                    <span>DNI</span>
                    @Html.TextBox("dni")
                </div>
                <div class="col-xs-12">
                    <span>RUC</span>
                    @Html.TextBox("ruc")
                </div>
                <div class="col-xs-12">
                    <span>Telefono</span>
                    @Html.TextBox("telefono")
                </div>
                <div class="col-xs-12">
                    <span>Direccion</span>
                    @Html.TextBox("direccion")
                </div>
                <div class="col-xs-12">
                    <span>Email</span>
                    @Html.TextBox("email")
                </div>
                <div class="col-xs-12">
                    <span>Contraseña</span>
                    @Html.Password("pass")
                </div>
                -->

                                </form>
                            }
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



